.sidebar {
  width: 18%;
  min-height: 100svh;
  border: 1.5px solid #a9a9a9;
  border-top: 0;
  font-size: max(1vw, 10px);
}

.sidebar-options {
  padding-left: 20%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar-option {
  display: flex;
  align-items: center;
  border: 1px solid #a9a9a9;
  border-right: 0;
  padding: 8px 10px;
  border-radius: 3px 0px opx 3px;
  gap: 20px;
  cursor: pointer;
}

.sidebar-option.active {
  color: #fff0ed;
  background-color: tomato;
}

@media (max-width: 900px) {
  .sidebar-option p {
    display: none;
  }
}
